*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
*.zip
zip-review.ps1

# Secrets & local overrides
local.properties
secrets.properties
secrets.properties
app/editecho code.zip
failed log.txt
keystore.properties
app/keystore.properties
